<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
	<meta charset="utf-8"/>
	<title>home</title>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/header_style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/footer_style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/home_style.css}"/>
	<script type="text/javascript" th:src="@{/resources/static/js/Chart.js}"></script>
	<script type="text/javascript" th:src="@{/resources/static/js/jquery-3.4.1.js}"></script>
</head>
<body>

	<div id="header" th:include="page::header"></div>


	<div id="body">

		<div id="side">
			<div id="side_first">
				<h3 class="prompt_tags">总体签到率</h3>
				<div id="side-chooses">
					<button type="submit" id="query_now" value="当日">当日</button>
					<button type="submit" id="query_yesterday" value="昨日">昨日</button>
					<button type="submit" id="query_week" value="本周">本周</button>
				</div>
				<div id="panelChart">
					<canvas id="first" ></canvas>
				</div>
				<div id="set_date_title">
					<span>指定日期</span>
				</div>
				<form th:action="@{/query/home/optional-situation}" method="post">
					<label>
						<input class="choose_date" type="date" name="firstDate"/>
					</label>
					<span>至</span>
					<label>
						<input class="choose_date" type="date" name="secondDate"/>
					</label>
					<div id="side_query_button">
						<button type="submit" id="situation">查询签到情况</button>
					</div>
				</form>
			</div>

			<div id="side_second">
				<h3 class="current_tag">最近签到</h3>

				<div class="current_content" th:each="msg,iterStatus:${recentMsgsList} ">
					<div th:if="${iterStatus.odd}" style="background-color: #cccccc;padding: 3px;border-radius: 3px">
						<h4 class="current_username" th:text="${msg.getUsername()}"></h4>
						<h5 class="current_date" th:text="${msg.getDate()}"></h5>
						<div class="current_text" th:text="${msg.getMessage()}"></div>
					</div>
					<div th:if="${iterStatus.even}" style="background-color: darkgray;padding: 3px;border-radius: 3px">
						<h4 class="current_username" th:text="${msg.getUsername()}"></h4>
						<h5 class="current_date" th:text="${msg.getDate()}"></h5>
						<div class="current_text" th:text="${msg.getMessage()}"></div>
					</div>
				</div>

			</div>
		</div>

		<div id="content">
			<h3 class="prompt_tags">总体签到情况</h3>
			<div id="choose_buttons">
				<button type="submit" id="situation_now" value="当日">当日</button>
				<button type="submit" id="situation_yesterday" value="昨日">昨日</button>
			</div>
			<div id="content_chooses">
				<canvas id="second" width="400px" height="400px"  ></canvas>
			</div>
		</div>

	</div>

	<div id="footer" th:include="page::footer"></div>

	<script type="text/javascript" th:src="@{/resources/static/js/home.js}"></script>

</body>
</html>
